.about
  .aboutNav
    list-style none
    display flex
    justify-content space-between
    padding 0
    // box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    .aboutNavItem
      width 12.5%
      background #F0F2F4
      color #000000
      padding 5px 10px
      text-align center
      cursor pointer
      &:hover
        background #FF66CC
        color #ffffff
  .aboutContent
    width 100%;
    box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    border-radius 0.25rem
    padding 10px
    box-sizing border-box
    ul
      list-style none
      img
        width 16px
        height 16px
        // margin 2px 0
      li
        // background #F0F2F4
        padding 0 5px
        margin-bottom 5px
        &:last-child
          margin 0